.salaryfro
{
    padding-top: 10%;
    text-align: center;
    color: #15355A;
}

.aaa111{
    width: 80vh;
    height: 3vh;
}
.salaryf
{

    text-align: left;
    margin-left: 15%;
   height: 40vh;
}
.aabut
{
    margin-left: 30%;
}
table{
    color: #15355A;
}
