body
{
  background-color: white;
  background-repeat: none;
  background-blend-mode: color-dodge;
}
.abc
{
  border: 2px solid white;
  margin-top: 8%;
  margin-left: 31%;
  padding: 5%;
  width: 30%;
  /* backdrop-filter: blur(10px); */
  background: transparent;
  color: black;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  border: 1px solid grey;
}

#admin
{
  margin-left: 33%;
}